header {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #563635;
}
.logo {
    letter-spacing: 2px;
    flex-grow: 2;
    padding-top: 3px;
    padding-left: 7px;
    margin: 1rem;
    color: #000022;
    font-family: 'raleway';
}
nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #563635;
}
nav a {
    text-decoration: none;
    color: #d3bdb8;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.nav-item:hover {
    transition: all .3s ease;
    color: #ffffff;
    position: relative;
    bottom: 1px;
}
.home-div {
        margin: 1rem;
        padding: 1em;
        border-radius: 20px;
        background-color: #cecece;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
}
.container {
    margin: 1rem;
    padding: 1em;
    background-color: #cecece;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.select {
    color: #f4f4f4;

}
body {
    background-color: #cecece;
    font-family: 'Raleway', sans-serif;
}
.contain {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 1em;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
}
.hero {
    align-content: center;
    width: 33rem;
    height: 48rem;
    border-radius: 20px;
  }
#workbox {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.pro-title {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
.excerpt {
    font-size: 1rem;
    width: 100%;
    text-align: center;
}
.project-card {
    padding: 1em;
    background-color: #D8D4D5;
    font-family: 'raleway';
    border: 1px solid #cecece;
    border-radius: 20px;
}
.project-card a {
    text-decoration: none;
    color: #739B92;
    margin: 3rem;
}
section img {
    margin: 1.5rem;
    height: 200px;
    width: 270px;
    border-radius: 20px;
}
.address {
    margin: 1rem;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    background-color: #cecece;
}
.resume {
    display:flex;
    align-items: center;
    flex-direction: column;
}
.contact-form {
    display: flex;
    flex-direction: column;
    padding: 2em 10em;
}
.contact-form input, .contact-form textarea, .contact-form button {
    margin-top: 1rem;
}
.btn {
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'raleway';
}
footer {
    font-size: 65%;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 30px;
}
.footer-text {
    font-size: 1rem;
}
.social-box {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
  }
  .hover {
    cursor: pointer;
  }
@media screen and (max-width:1227px) {
    .contain {
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:992px) {
    h1 {
        text-align: center;
        margin: 0;
        padding-bottom: 5px;
        padding-top: 5;
        padding-left: 0;
    }
    nav {
        width: 100%;
        padding-bottom: 10px;
    }
    .hero {
        width: 35rem;
        height: 25rem;
    }
    #about, #work, #contact {
        display: flex;
        flex-direction: columnn;
        flex-wrap: wrap;
    }
    .title {
        width: 100%;
        padding-bottom: 20px;
        padding-right: 0;
        margin: 0 25px;
        border-right: 0px;
        border-bottom: 2px solid var(--brown);
    }
    section {
        width: 100%;
        margin: 0 25px;
    }
    .work {
        flex-basis: min(200px);
    }
}
@media screen and (max-width:768px) {
    nav a {
        font-size: 90%;
    }
    section p {
        font-size: 95%;
    }
    #workbox {
        flex-direction: column;
    }
    .hero {
        display: none;
    }
    .contact-form {
        padding: 2em 1em;
    }
    .contain {
        grid-template-columns: auto;
    }
    .work {
        flex-basis: auto;
        flex-grow: 1;
    }
    #workbox .work:nth-of-type(1) {
        flex-basis: auto;
        flex-grow: 1;
    }
    .address {
        flex-direction: column;
        align-items: center;
    }
}