:root {
    --white: #f0ebe9;
    --dark: #000022;
    --grey: #6A6262;
    --green: #425738;
    --brown: #8F6A28;
    --cece: #cecece;
    --space: .5px;
}


header {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--grey);
}

/* To allow the header and nav to be spaced out to either end, I used a 50% width on both elements and set the parent to flex.
Try using flex grow on h1 instead of setting padding. This should make it grow to take up all extra space in the flex row */

h1 {
    font-size: 190%;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--dark);
    flex-grow: 2;
    padding-top: 3px;
    padding-left: 7px;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    text-decoration: none;
    color: var(--white);
    letter-spacing: 1px;
}

.nav-item:hover {
    transition: all .3s ease;
    color: #ffffff;
    position: relative;
    bottom: 1px;

}

body {
    background-color: var(--cece);
    font-family: 'Raleway', sans-serif;
}


/* To place the h2 in the lower right corner I used both justify content and align items. */

#hero {
    width: 100%;
    height: 500px;
    background-image: url(../images/kingdream.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#hero h2 {
    font-size: 140%;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--grey);
    padding: 3px;
    margin: 10px 10px 15px 10px;
}

article {
    display: flex;
    margin: 30px 5px;
}

.title {
    width: 15%;
    border-right: 2px solid var(--brown);
    padding-right: 5px;
}


.title h2 {
    font-weight: 900;
    font-size: 140%;
    letter-spacing: var(--space);
    margin-left: 40%;
    color: var(--dark);
}

section {
    width: 85%;
    padding: 2px 15px 2px 6px;
    margin-left: 3px;
}

section p {
    padding: .5rem;
    text-indent: 1em;
    line-height: 1.5;
    letter-spacing: var(--space);
    color: var(--dark);
}

/* This is the responsive work section */


#workbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

/* Set the flex-basis to a low number so that I could have two smaller boxes under the big box. */

.work {
    height: 200px;
    margin: 5px;
    border: 2px solid var(--brown);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: .5;
    flex-basis: min(380px);
}

.project2 {
    background-image: url(../images/rllr-dex.png);
    background-position: center;
    background-size: cover;
}

.project3 {
    background-image: url(../images/express-note-taker.png);
    background-position: center;
    background-size: cover;
}

.work:hover {
    transition: box-shadow .7s ease-out;
    box-shadow: 5px 5px 15px 5px #797979;
    cursor: pointer;
}

.work h2 {
    color: var(--white);
    background-color: #6A6262;
    padding: 3px;
    margin: 10px 10px 15px 10px;
    font-family: 'Courier New', Courier, monospace;
}

/* I set this flex-basis to the minimum size of the screen before my media query break so that this large box would stay the full size of the screen until that break */

#workbox .main-project {
    background-image: url(../images/burauzanoakachan.jpg);
    background-position: center;
    background-size: cover;
    flex-grow: 1;
    flex-basis: min(996px);
}

h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin: .5rem;
    text-align: center;
}

h4 {
    font-weight: 500;
    font-size: 1.1rem;
    margin: .5rem;
}

.address {
    margin: 1rem;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}


.address a {
    margin: 10px;
    color: var(--green);
    text-decoration: none;
    letter-spacing: var(--space);
}

.address a:hover {
    transition: all 1s ease;
    color: #7ca768;
    position: relative;
    bottom: 1px;
}

footer {
    font-size: 65%;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width:992px) {
    h1 {
        text-align: center;
        margin: 0;
        padding-bottom: 5px;
        padding-top: 5;
        padding-left: 0;
    }

    nav {
        width: 100%;
        padding-bottom: 10px;
    }

    #about,
    #work,
    #contact,
    #resume {
        display: flex;
        flex-direction: columnn;
        flex-wrap: wrap;
    }

    .title {
        width: 100%;
        padding-bottom: 20px;
        padding-right: 0;
        margin: 0 25px;
        border-right: 0px;
        border-bottom: 2px solid var(--brown);
    }

    section {
        width: 100%;
        margin: 0 25px;
    }


    .work {
        flex-basis: min(200px);
    }
}

@media screen and (max-width:768px) {

    nav a {
        font-size: 90%;
    }

    section p {
        font-size: 95%;
    }

    #workbox {
        flex-direction: column;
    }

    .work {
        flex-basis: auto;
        flex-grow: 1;
    }

    #workbox .work:nth-of-type(1) {
        flex-basis: auto;
        flex-grow: 1;
    }

    .address {
        flex-direction: column;
        align-items: center;
    }

}